@model List<HaroonPOSWeb.Models.MaterialInPaymentModel>
@{
    ViewBag.Title = "Material-In Payment List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    HaroonPOSWebEntities db = new HaroonPOSWebEntities();
}

<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Material-In Payment
                <a href="#" data-toggle="modal" data-target="#MaterialInPaymentmodal" class="btn btn-primary btn-icon-split" onclick="AddMaterialInPayment(0)">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Add Payment</span>
                </a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @Html.Partial("_Notifications")
                <table class="table table-bordered" id="materialInPaymentList" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th hidden>MaterialInPayId</th>
                            <th>Purchaser</th>
                            <th>Payment</th>
                            <th>Short Description</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th hidden>MaterialInPayId</th>
                            <th>Purchaser</th>
                            <th>Payment</th>
                            <th>Short Description</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item != null)
                            {
                                var purchaserName = db.MaterialInPurchasers.Where(x => x.MatInPurchaserId.Equals(item.MatInPurchaserId.Value)).Select(x => x.Name).FirstOrDefault();
                                <tr>
                                    <td hidden>@Html.DisplayFor(modelItem => item.MaterialInPayId)</td>
                                    <td>@Html.DisplayFor(modelItem => purchaserName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Payment)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ShortDescription)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CreateDate, new { @class = "createDateClass" })</td>
                                    <td>
                                        <button class="btn btn-info" onclick="ViewMaterialInPayment('@item.MaterialInPayId')"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-success" onclick="EditMaterialInPayment('@item.MaterialInPayId')"><i class="fa fa-edit"></i></button>
                                        <button class="btn btn-danger" onclick="ConfirmDeleteMaterialInPayment('@item.MaterialInPayId')"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add Model -->
<div class="modal fade" id="MaterialInPaymentmodal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="MaterialInPaymentdiv">

        </div>
    </div>
</div>
<!-- Edit Modal -->
<div id="MaterialInPaymentEditModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="MaterialInPaymentEditModaldiv">
        </div>
    </div>
</div>
<!-- View Modal -->
<div id="ViewMaterialInPayment" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Payment Detail</h4>
            </div>
            <div class="modal-body" id="ViewMaterialInPaymentdiv">
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="DeleteMaterialInPayment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">Delete Payment</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure ? You want to delete this. </h5>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-danger" onclick="DeleteMaterialInPayment()">Confirm</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hiddenMaterialInPaymentId" />


@section scripts{

    <script>

        var tableMaterial;

        $(document).ready(function () {
            tableMaterial = $('#materialInPaymentList').dataTable();
        });
        var AddMaterialInPayment = function (MaterialInPayId) {
            var url = "/Payment/MaterialInPaymentSetup";
            $("#MaterialInPaymentdiv").load(url, function () {
                $("#MaterialInPaymentmodal").modal("show");
                $("#title").text("Add Payment");
            });
        }

        var EditMaterialInPayment = function (MaterialInPayId) {
            var url = "/Payment/MaterialInPaymentEditView?MaterialInPayId=" + MaterialInPayId;
            $("#MaterialInPaymentEditModaldiv").load(url, function () {
                $("#MaterialInPaymentEditModal").modal("show");
                $("#title").text("Edit Payment");
            });
        }

        var ViewMaterialInPayment = function (MaterialInPayId) {
            var url = "/Payment/ViewMaterialInPayment?MaterialInPayId=" + MaterialInPayId;
            $("#ViewMaterialInPaymentdiv").load(url, function () {
                $("#ViewMaterialInPayment").modal("show");
            })
        }

        var ConfirmDeleteMaterialInPayment = function (MaterialInPayId) {
            $("#hiddenMaterialInPaymentId").val(MaterialInPayId);
            $("#DeleteMaterialInPayment").modal('show');

        }

        var DeleteMaterialInPayment = function () {
            var MatInPaymentId = $("#hiddenMaterialInPaymentId").val();
            $.ajax({
                type: "POST",
                url: "/Payment/DeleteMaterialInPayment",
                data: { MaterialInPayId: MaterialInPayId },
                success: function (data) {
                    if (data.success) {
                        $("#DeleteMaterialInPayment").modal("hide");
                        swal({
                            title: "Good job!",
                            text: data.message,
                            type: "success"
                        },
                        function () {
                            location.reload();
                        })
                    }
                    else {
                        swal({
                            title: "Warning!",
                            text: data.message,
                            type: "error"
                        })
                    }
                }

            });

        }

        $(function () {
            $('.createDateClass').each(function () {
                var d = moment($(this).attr('.createDateClass'));
                $(this).html(d.format());
            });
        });
    </script>
}