@model HaroonPOSWeb.Models.PartyPurchaseLedgerModel
@{
    ViewBag.Title = "PartyPurchaseLedger";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12">
    <div class="card position-relative">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Party Purchase Ledger</h6>
        </div>
        <div class="card-body">
            <div class="small mb-1">Please select party name:</div>
            @Html.DropDownListFor(model => model.MatInPurchaserId, ViewBag.MatInPurchaserList as SelectList, "--select--")
            @Html.ValidationMessageFor(model => model.MatInPurchaserId, "", new { @class = "text-danger" })
        </div>
        <div class="card-body">
            <div class="small mb-1">Please select month:</div>
            @Html.DropDownListFor(model => model.MonthId, ViewBag.MonthList as SelectList, "--select--")
            @Html.ValidationMessageFor(model => model.MonthId, "", new { @class = "text-danger" })
        </div>
        <div class="card-body">
            <div class="small mb-1">Please select year:</div>
            @Html.DropDownListFor(model => model.YearId, ViewBag.YearList as SelectList, "--select--")
            @Html.ValidationMessageFor(model => model.YearId, "", new { @class = "text-danger" })
        </div>
        @*<div class="card-body">
            <div class="small mb-1">Download report:</div>
            <div class="pull-right">
                <i id="spanPartyPurchaseLedgerDownload" class="fa fa-download"></i>
            </div>
        </div>*@
        <div class="card-body">
            <div class="small mb-1">See report:</div>
            <div class="pull-right">
                @*<p><a href="~/Report/ShowPartyPurchaseLedger" class="btn btn-primary btn-lg">View</a></p>*@
                <i id="spanPartyPurchaseLedgerView" class="btn btn-primary btn-lg">Download</i>
            </div>
        </div>
        <div class="card-body">
            <div class="small mb-1">Download report:</div>
            <div class="pull-right">
                @*<p><a href="~/Report/DownloadPartyPurchaseLedger" class="btn btn-primary btn-lg">Download</a></p>*@
                <i id="spanPartyPurchaseLedgerDownload"  class="btn btn-primary btn-lg">Download</i>
            </div>
        </div>
    </div>
</div>

@section scripts{

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @*<script>
        $("#spanPartyPurchaseLedgerDownload").click(function () {
            
            var MatInPurchaserId = $('#MatInPurchaserId').val();
            var MonthId = $('#MonthId').val();
            var YearId = $('#YearId').val();
            if (MatInPurchaserId == "" || MatInPurchaserId == 0)
            {
                alert('Please select purchaser name');
            }
            else if (MonthId == "" || MonthId == 0)
            {
                alert('Please select month');
            }
            else if (YearId == "" || YearId == 0)
            {
                alert('Please select year');
            }
            else
            {
                //window.open('/Home/CreatePdfNewSales?selectedDateVal=' + selectedDate, "_blank");
                //window.open('/Report/CreatePdfPartyPurchaseLedger?MatInPurchaserId=' + MatInPurchaserId, "_blank");
                window.open('/Report/CreatePdfPartyPurchaseLedger?stringValues=' + MatInPurchaserId + '?MonthId=' + MonthId + '?YearId=' + YearId, "_blank");
            }
        });
    </script>*@

<script>
    $("#spanPartyPurchaseLedgerView").click(function () {

        var MatInPurchaserId = $('#MatInPurchaserId').val();
        var MonthId = $('#MonthId').val();
        var YearId = $('#YearId').val();
        if (MatInPurchaserId == "" || MatInPurchaserId == 0) {
            alert('Please select purchaser name');
        }
        else if (MonthId == "" || MonthId == 0) {
            alert('Please select month');
        }
        else if (YearId == "" || YearId == 0) {
            alert('Please select year');
        }
        else {
            //window.open('/Home/CreatePdfNewSales?selectedDateVal=' + selectedDate, "_blank");
            //window.open('/Report/CreatePdfPartyPurchaseLedger?MatInPurchaserId=' + MatInPurchaserId, "_blank");
            window.open('/Report/ShowPartyPurchaseLedger?stringValues=' + MatInPurchaserId + '?MonthId=' + MonthId + '?YearId=' + YearId, "_blank");
        }
    });
        $("#spanPartyPurchaseLedgerDownload").click(function () {

            var MatInPurchaserId = $('#MatInPurchaserId').val();
            var MonthId = $('#MonthId').val();
            var YearId = $('#YearId').val();
            if (MatInPurchaserId == "" || MatInPurchaserId == 0)
            {
                alert('Please select purchaser name');
            }
            else if (MonthId == "" || MonthId == 0)
            {
                alert('Please select month');
            }
            else if (YearId == "" || YearId == 0)
            {
                alert('Please select year');
            }
            else
            {
                window.open('/Report/DownloadPartyPurchaseLedger?stringValues=' + MatInPurchaserId + '?MonthId=' + MonthId + '?YearId=' + YearId, "_blank");
            }
        });
</script>
    
}

