@model HaroonPOSWeb.Models.PartyPurchaseSaleModel
@{
    ViewBag.Title = "PartySaleLedger";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12">
    <div class="card position-relative">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Party Sale Ledger</h6>
        </div>
        <div class="card-body">
            <div class="small mb-1">Please select party name:</div>
            @Html.DropDownListFor(model => model.MatOutPartyId, ViewBag.MaterialOutPartiesList as SelectList, "--select--")
            @Html.ValidationMessageFor(model => model.MatOutPartyId, "", new { @class = "text-danger" })
        </div>
        <div class="card-body">
            <div class="small mb-1">Please select month:</div>
            @Html.DropDownListFor(model => model.MonthId, ViewBag.MonthList as SelectList, "--select--")
            @Html.ValidationMessageFor(model => model.MonthId, "", new { @class = "text-danger" })
        </div>
        <div class="card-body">
            <div class="small mb-1">Please select year:</div>
            @Html.DropDownListFor(model => model.YearId, ViewBag.YearList as SelectList, "--select--")
            @Html.ValidationMessageFor(model => model.YearId, "", new { @class = "text-danger" })
        </div>
        <div class="card-body">
            <div class="small mb-1">Download report:</div>
            <div class="pull-right">
                <i id="spanPartySaleLedgerDownload" class="fa fa-download"></i>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $("#spanPartySaleLedgerDownload").click(function () {

            var MatOutPartyId = $('#MatOutPartyId').val();
            var MonthId = $('#MonthId').val();
            var YearId = $('#YearId').val();
            if (MatOutPartyId == "" || MatOutPartyId == 0)
            {
                alert('Please select party name');
            }
            else if (MonthId == "" || MonthId == 0)
            {
                alert('Please select month');
            }
            else if (YearId == "" || YearId == 0)
            {
                alert('Please select year');
            }
            else
            {
                //window.open('/Home/CreatePdfNewSales?selectedDateVal=' + selectedDate, "_blank");
                //window.open('/Report/CreatePdfPartySaleLedger?MatOutPartyId=' + MatOutPartyId, "_blank");
                window.open('/Report/CreatePdfPartySaleLedger?stringValues=' + MatOutPartyId + '?MonthId=' + MonthId + '?YearId=' + YearId, "_blank");
            }
        });
    </script>

}