@model HaroonPOSWeb.Models.ShowPartyPurchaseLedgerModel
@{
    ViewBag.Title = "ShowPartyPurchaseLedger";
    Layout = null;

    decimal ?cartVal = 0;
    int ?quantityVal = 0;
    int ?sizeVal = 0;
    decimal ?rateVal = 0;
    decimal ?subAmount1 = 0;
    int ?subAmount2 = 0;
    int ?grandTotal = 0;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/Content/ReportStyle.css" rel="stylesheet" />
<script>
        var val = window.location.href;
</script>

<div id="invoice">
    <div class="toolbar hidden-print">
        <div class="text-right">
            @*<button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
                <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>*@
            <a href="~/Report/DownloadPartyPurchaseLedger" class="btn btn-info"
               onclick="location.href = this.href + '?currentUrl=' + val; return false;">Download PDF</a>
        </div>
        <hr>
    </div>
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                        <a target="_blank" href="#">
                            <img src="~/Images/logo.jpeg" data-holder-rendered="true" style="width:300px; height:200px;" />
                        </a>
                    </div>
                    <div class="col company-details">
                        <h2 class="name">
                            <a target="_blank" href="#">
                                Silk Screen
                            </a>
                        </h2>
                        @*<div>455 Foggy Heights, AZ 85004, US</div>
                        <div>(123) 456-789</div>
                        <div>company@example.com</div>*@
                    </div>
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <h2 class="to">@Model.PartyName</h2>
                        <div class="address">@Model.Month</div>
                        <div class="address">@Model.Year</div>
                        @*<div class="address">796 Silver Harbour, TX 79273, US</div>
                        <div class="email"><a href="mailto:john@example.com">john@example.com</a></div>*@
                    </div>
                    @*<div class="col invoice-details">
                        <h1 class="invoice-id">INVOICE 3-2-1</h1>
                        <div class="date">Date of Invoice: 01/10/2018</div>
                        <div class="date">Due Date: 30/10/2018</div>
                    </div>*@
                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cartridge</th>
                            <th>Purchase Item</th>
                            <th>Quality</th>
                            <th>Quantity</th>
                            <th>Size</th>
                            <th>Rate</th>
                            <th>Sub Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.MaterialInModelList != null && Model.MaterialInModelList.Count != 0)
                        {
                            grandTotal = 0;
                            //var last = Model.MaterialInModelList.Last();
                            foreach (var item in Model.MaterialInModelList)
                            {
                                cartVal = item.Cartridge;
                                quantityVal = item.Quantity;
                                sizeVal = item.Size;
                                rateVal = item.Rate;
                                subAmount1 = quantityVal * sizeVal * rateVal;
                                subAmount2 = Convert.ToInt32(cartVal + subAmount1);
                                grandTotal += subAmount2;

                                <tr>
                                    <td class="no">01</td>
                                    <td class="qty">@item.Cartridge.Value.ToString(".")</td>
                                    <td class="text-left">@item.PurchaseItem</td>
                                    <td class="text-left">@item.Quality</td>
                                    <td class="qty">@item.Quantity.Value.ToString()</td>
                                    <td class="qty">@item.Size.Value.ToString()</td>
                                    <td class="unit">@item.Rate.Value.ToString(".")</td>
                                    <td class="total">@subAmount2.Value.ToString(".")</td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        @*<tr>
                            <td colspan="2"></td>
                            <td colspan="2">SUBTOTAL</td>
                            <td>$5,200.00</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">TAX 25%</td>
                            <td>$1,300.00</td>
                        </tr>*@
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">GRAND TOTAL</td>
                            <td>@grandTotal</td>
                        </tr>
                    </tfoot>
                </table>
                @*<div class="thanks">Thank you!</div>
                <div class="notices">
                    <div>NOTICE:</div>
                    <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                </div>*@
            </main>
            <footer>
                Report was created on a computer and is valid without the signature and seal.
            </footer>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>
</div>